#!/bin/sh

PATH=/opt/local/sbin:/opt/local/bin:$PATH
export PATH

SERVER="{{ ddns_update_server }}"
HOST="{{ ddns_update_hostname }}"
KEYNAME="{{ ddns_update_keyname }}"
KEYHMAC="{{ ddns_update_keyhmac }}"

while true
do
  MYIP=`curl -s http://myip4.seastrom.com`

nsupdate<<END
server $SERVER
key $KEYNAME $KEYHMAC
update delete $HOST A
update add $HOST 60 A $MYIP
send
quit
END

  sleep 300
done


